<h2 class="text-center" mat-dialog-tile>{{title}}</h2>
<mat-dialog-content [formGroup]="routeRegister">
  <div class="text-center">
      <mat-form-field appearance="fill">
        <mat-label>Route No.</mat-label>
        <input matInput
            placeholder="RouteNo"
            formControlName="routeNo"
            required>
        <mat-error *ngIf="routeRegister.get('routeNo')?.invalid
        || routeRegister.get('routeNo')?.dirty
        || routeRegister.get('routeNo')?.touched">
        Enter the route number</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput
            placeholder="Description"
            formControlName="description"
            required>
        <mat-error *ngIf="routeRegister.get('description')?.invalid
        || routeRegister.get('description')?.dirty
        || routeRegister.get('description')?.touched">
        Enter the description</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Departure</mat-label>
        <input matInput
            formControlName="departure"
            required
            [readonly]="true">
        <mat-error *ngIf="routeRegister.get('departure')?.invalid
        || routeRegister.get('departure')?.dirty
        || routeRegister.get('departure')?.touched">
        Add pin in the map below</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Arrival</mat-label>
        <input matInput
            formControlName="arrival"
            required
            [readonly]="true">
        <mat-error *ngIf="routeRegister.get('arrival')?.invalid
        || routeRegister.get('arrival')?.dirty
        || routeRegister.get('arrival')?.touched">
        Add pin in the map below</mat-error>
      </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  <br>
  <h3>Add Bus Stops</h3>
  <google-map
    #myGoogleMap
    height="350px"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
    (mapClick)="dropMarker($event)"
    (mapMousemove)="move($event)">
    <map-marker
      #markerElem="mapMarker"
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label"
      [title]="marker.title"
      [options]="marker.options"
      (mapClick)="openInfo(markerElem, marker.info)">
    </map-marker>

    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>
  <div>Latitude: {{display?.lat}}</div>
  <div>Longitude: {{display?.lng}}</div>

  <div class="overflow">
      <table formArrayName="busStops" style="margin:2%;width: 96%;" class="mat-table cdk-table">
          <thead class="">
              <tr>
                <td>BusStop</td>
                <td>Name</td>
                <td>Address</td>
                <td>Longitude</td>
                <td>Latitude</td>
                <td>Action</td>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of allBusStops.controls; let i=index" [formGroupName]="i">
                  <td class="shortBox">
                    <input  class="form-control" formControlName="busStop">
                  </td>
                  <td>
                      <input  class="form-control" formControlName="name">
                  </td>
                  <td>
                      <input  class="form-control" formControlName="address">
                  </td>
                  <td>
                      <input class="form-control" formControlName="longitude">
                  </td>
                  <td>
                      <input  class="form-control" formControlName="latitude">
                  </td>
                  <td>
                      <a  mat-raised-button type="button" color="accent" (click)="removeBusStop(i)">Remove</a>
                  </td>
              </tr>

          </tbody>
          
      </table>
  </div>

  <div mat-dialog-actions>
    <button type="button" mat-raised-button mat-dialog-close (click)="cancelRegistration()">Cancel</button>
    <button type="button" mat-raised-button  color="primary" mat-dialog-close cdkFocusInitial (click)="registerBusRoute()" [disabled]="routeRegister.invalid">{{buttonName}}</button>
  </div>
</mat-dialog-content>
