.wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.register {
  width: 60%;
  height:fit-content;
  background-color: rgb(255, 255, 225);
}

.manage {
  width: 80%;
  height:fit-content;
  background-color: rgb(205, 255, 230);
}

mat-form-field,
textarea{
  width: 100%;
}

.info-text{
  text-align: center;
}

table {
  width: 100%;
  margin-bottom: 3%;
}

mat-grid-list {
  width: 100%;
}


