<br><div class="wrapper">
  <mat-card class="register">
    <h3>Register Bus Route</h3>
    <form #loginForm="ngForm">
      <mat-form-field>
        <input
          matInput
          name="routeNo"
          placeholder="Route No."
          #routeNoInput = "ngModel"
          ngModel
          required>
          <mat-error *ngIf="routeNoInput.invalid">Please enter valid routeNo</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          name="description"
          rows="6"
          placeholder="Description"
          ngModel
          #descInput = "ngModel"
          required>
        </textarea>
          <mat-error *ngIf="descInput.invalid">Please enter a description</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="text"
          name="destination"
          ngModel
          #destInput = "ngModel"
          required
          placeholder="Destination"
          #destination="ngModel">
          <mat-error *ngIf="destination.invalid">Please enter the destination</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="text"
          name="arrival"
          ngModel
          #arrivalInput = "ngModel"
          required
          placeholder="Arrival"
          #arrival="ngModel">
          <mat-error *ngIf="arrival.invalid">Please enter the arrival</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        type="submit">Login
      </button>
    </form>
  </mat-card>
</div>
<br>
<div class="wrapper">
  <mat-card class="manage">
    <h3>List of Bus Route</h3>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- RouteNo Column -->
      <ng-container matColumnDef="RouteNo">
        <th mat-header-cell *matHeaderCellDef>RouteNo</th>
        <td mat-cell *matCellDef="let element">{{element.RouteNo}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.Description}}</td>
      </ng-container>

      <!-- Destination Column -->
      <ng-container matColumnDef="Destination">
        <th mat-header-cell *matHeaderCellDef>Destination</th>
        <td mat-cell *matCellDef="let element">{{element.Destination}}</td>
      </ng-container>

      <!-- Arrival Column -->
      <ng-container matColumnDef="Arrival">
        <th mat-header-cell *matHeaderCellDef>Arrival</th>
        <td mat-cell *matCellDef="let element">{{element.Arrival}}</td>
      </ng-container>

      <!-- Submit Column -->
      <ng-container matColumnDef="Submit">
        <th mat-header-cell *matHeaderCellDef>Submit</th>
        <td mat-cell>
          <button
            mat-raised-button
            color="accent"
            class="btn-viewOffer">
            View Details
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>
