<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- weekly query form -->
  <div class="container py-3 text-center">
    <div class="bg-white mat-elevation-z5" [formGroup]="weekHr">
      <div class="p-2 py-4">
        <h2 class="font-monospace fw-bold">Weekly Working Hours</h2>
        <!-- bus driver selection dropdown-list -->
        <mat-form-field appearance="fill">
          <mat-label>Select a bus driver</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="driver" formControlName="driver">
            <mat-option *ngFor="let driver of busDriver" [value]="driver.id">
              {{driver.fullName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <!-- 7 days range date picker -->
        <mat-form-field color="accent" appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [min]="minDate" [max]="maxDate" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker>
              <mat-date-range-picker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>

          <mat-error *ngIf="weekHr.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="weekHr.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent" class="px-5 py-2 mt-3 fs-6" (click)="weeklyQuery()">Query</button>
        <br>
        <button mat-raised-button color="accent" class="px-5 py-2 mt-3 fs-6" (click)="generateReport()">Generate Report</button>

      </div>
      <div id="weekPB">
        <mat-progress-bar [color]="'accent'"
        [mode]="'indeterminate'"
        [ngStyle]="{'visibility':isProgressBarVisible==true ? 'visible' : 'hidden'}">
        </mat-progress-bar>
      </div>
    </div>
    <mat-divider></mat-divider>
    <!-- bus driver working hours data info -->
    <div class="row pt-3">
      <div class="col-lg-6">
        <mat-card class="borderBottom">
          <mat-card-header class="justify-content-center">
            <mat-card-subtitle>Total Working hours</mat-card-subtitle>
            <mat-card-title class="fw-bold">{{totalDuration.busDriver}}</mat-card-title>
            <div class="circular py-4">
               {{totalDuration.duration}}
            </div>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-lg-6">
        <mat-card class="borderBottom">
          <mat-card-header class="justify-content-center">
            <mat-card-subtitle>Average Daily Working Hours</mat-card-subtitle>
            <mat-card-title class="fw-bold">{{averageDaily.busDriver}}</mat-card-title>
            <div class="circular py-4">
              {{averageDaily.duration}}
            </div>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div class="row text-center">
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Total Working Hours Per Day</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
        <canvas id="wkHrlinechart"></canvas>
        </mat-card>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>
  <!-- monthly query form -->
  <div class="container py-3 text-center">
    <div class="bg-white text-center mat-elevation-z5" [formGroup]="monthHr">
      <div class="p-2 py-4">
        <h2 class="font-monospace fw-bold">Monthly Number of Passengers</h2>
        <!-- bus driver selection dropdown-list -->
        <mat-form-field appearance="fill">
          <mat-label>Select a bus route</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="route" formControlName="driver">
            <mat-option *ngFor="let driver of busDriver" [value]="driver.id">
              {{driver.fullName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <div class="pb-2">
          <b>Select year: </b>
          <mat-radio-group formControlName="selectedYear">
            <mat-radio-button *ngFor="let year of yearList" [value]="year" (change)="updateMonthList($event)">
              {{year}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <!-- month selection dropdown-list -->
        <mat-form-field appearance="fill">
          <mat-label>Enter a Month</mat-label>
          <mat-select formControlName="monthYear">
            <mat-option *ngFor="let month of monthNames" [value]="month">
              {{month}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- selected date range label
        <p>Selected range: {{monthRange.value | json}}</p>
        -->
        <br>
        <button mat-raised-button color="accent" class="px-5 py-2 mt-3 fs-6" (click)="monthlyQuery()">Query</button>
      </div>
    <mat-progress-bar [color]="'accent'"
    [mode]="'indeterminate'"
    [ngStyle]="{'visibility':isProgressBarVisible==true ? 'visible' : 'hidden'}">
    </mat-progress-bar>
  </div>
    <mat-divider></mat-divider>
    <!-- bus driver working hours data info -->
    <div class="row pt-3">
      <div class="col-lg-6">
        <mat-card class="borderBottom">
          <mat-card-header class="justify-content-center">
            <mat-card-subtitle>Total Working Hours</mat-card-subtitle>
            <mat-card-title class="fw-bold">{{mTotalDuration.busDriver}}</mat-card-title>
            <div class="circular py-4">
               {{mTotalDuration.duration}}
            </div>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-lg-6">
        <mat-card class="borderBottom">
          <mat-card-header class="justify-content-center">
            <mat-card-subtitle>Average Daily Working Hours</mat-card-subtitle>
            <mat-card-title class="fw-bold">{{mAverageDaily.busDriver}}</mat-card-title>
            <div class="circular py-4">
              {{mAverageDaily.duration}}
            </div>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div class="row text-center">
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Total Working Hours Per Week</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
        <canvas id="wkHrlinechart2"></canvas>
        </mat-card>
      </div>
    </div>
  </div>
</body>
</html>





