<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container pt-3">
    <h4 class="font-monospace">Bus Driver Ratings</h4>
    <div class="row p-2" [formGroup]="range">
      <div class="col-md-6 row text-center">
        <!-- bus driver selection dropdown-list -->
        <mat-form-field appearance="fill">
          <mat-label>Bus Driver</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="driver">
            <mat-option *ngFor="let driver of busDriver" [value]="driver.fullname">
              {{driver.fullname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <!-- 7 days range date picker -->
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
        <!-- selected date range label -->
        <p>Selected range: {{range.value | json}}</p>
      </div>

      <div class="col-md-6 text-center">
        <br>
        <!-- weekly or monthly radio button -->
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button class="px-2" value="1">Weekly</mat-radio-button>
          <mat-radio-button class="px-2" value="2">Monthly</mat-radio-button>
        </mat-radio-group>
        <br>

        <button mat-raised-button color="accent" class="px-5 py-2 mt-3 fs-6">Query</button>
      </div>

    </div>
    <mat-divider></mat-divider>
    <!-- bus driver rating data info -->
    <div class="row pt-3">
      <div class="col-lg-4">
        <mat-card class="borderBottom">
          <mat-card-header class="justify-content-center">
            <mat-card-subtitle>Highest Quantity</mat-card-subtitle>
            <mat-card-title class="fw-bold">5 Star</mat-card-title>
            <div class="circular py-4">
              30
            </div>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-lg-4">
        <mat-card class="borderBottom">
          <mat-card-header class="justify-content-center">
            <mat-card-subtitle>Average Daily Ratings</mat-card-subtitle>
            <mat-card-title class="fw-bold">4 Star</mat-card-title>
            <div class="circular py-4">
              28
            </div>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-lg-4">
        <mat-card class="borderBottom">
          <mat-card-header class="justify-content-center">
            <mat-card-subtitle>Day with Top Ratings</mat-card-subtitle>
            <mat-card-title class="fw-bold">Thursday</mat-card-title>
            <div class="circular py-4">
              34
            </div>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <mat-card>
          <h2>Pie Chart</h2>
          <canvas id="piechart"></canvas>
        </mat-card>

      </div>
      <div class="col-lg-4">
        <mat-card>
          <h2>Line Chart</h2>
        <canvas id="linechart"></canvas>
        </mat-card>

      </div>
      <div class="col-lg-4">
        <mat-card>
          <h2>Bar Chart</h2>
          <canvas id="barchart"></canvas>
        </mat-card>
      </div>
    </div>
  </div>
</body>
</html>





