body{
  background-color: rgb(255, 240, 240);
}

span
{
  font-size: larger;
  font-weight: 300;
}

.mat-card-
title{
  font-weight: 300!important;
  font-size: 25px;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th{
  font-weight: bold;
  color: black;
  font-size: 85%;
}

.mat-header-row{
  background-color: rgb(221, 236, 255);
}

.overflow{
  overflow-x: auto;
}

.mat-header-cell{
  text-align: center;
}



