<form [formGroup]="routeRegister" (ngSubmit)="HandleSubmit()">
  <mat-stepper [linear]="isLinear" #stepper>
    <!--Bus Route object-->
    <mat-step [stepControl]="busRouteInfoForm">
      <div formGroupName="route">
        <ng-template matStepLabel>Fill Bus Route Details</ng-template>
        <!-- RouteNo Input -->
        <mat-form-field appearance="fill">
          <mat-label>RouteNo</mat-label>
          <input matInput placeholder="RouteNo" formControlName="routeNo" required>
        </mat-form-field>
        <!-- description Input -->
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" formControlName="description" required>
        </mat-form-field>
        <!-- destination Input -->
        <mat-form-field appearance="fill">
          <mat-label>Destination</mat-label>
          <input matInput placeholder="Destination" formControlName="destination" required>
        </mat-form-field>
        <!-- arrival Input -->
        <mat-form-field appearance="fill">
          <mat-label>Arrival</mat-label>
          <input matInput placeholder="Arrival" formControlName="arrival" required>
        </mat-form-field>
        <div>
          <button mat-raised-button (click)="exit()">Cancel</button> &nbsp;
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>

    <!--Bus Stop object-->
    <mat-step label="Add Bus Stop" [stepControl]="busStopInfoForm">
      <div formGroupName="busStop">
        <!-- Name Input -->
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <!-- address Input -->
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName="address" required>
        </mat-form-field>
        <!-- longitude Input -->
        <mat-form-field appearance="fill">
          <mat-label>Longitude</mat-label>
          <input matInput placeholder="Longitude" formControlName="longitude" required>
        </mat-form-field>
        <!-- latitude Input -->
        <mat-form-field appearance="fill">
          <mat-label>Latitude</mat-label>
          <input matInput placeholder="Latitude" formControlName="latitude" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button color="accent" (click)="back()" matStepperNext>Submit</button>
        </div>
      </div>
    </mat-step>
</mat-stepper>
</form>

