.add-busroute{
  color: #3f51b5;
}

.mat-card  :hover{
  transform: scale(1.03);
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th{
  font-weight: bold;
  color: black;
  font-size: 85%;
}

.mat-header-row{
  background-color: rgb(221, 236, 255);
}




