<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <div class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-controls="collapseTwo">
              <mat-icon>leaderboard</mat-icon>Dashboard
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse">
            <a mat-list-item routerLinkActive="active" routerLink="statistic"><mat-icon>star</mat-icon>Ratings</a>
            <a mat-list-item routerLinkActive="" routerLink=""><mat-icon>leaderboard</mat-icon>Number of Passengers</a>
          </div>
        </div>
      </div>
      <a mat-list-item routerLinkActive="active" routerLink="busRoute"><mat-icon>route</mat-icon>Bus Route</a>
      <a mat-list-item routerLinkActive="active" routerLink="busDriver"><mat-icon>person</mat-icon>Bus Driver</a>
      <a mat-list-item routerLinkActive="active" (click)="logOut()"><mat-icon>logout</mat-icon>Sign Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/HELP_logo.png" alt="helpLogo" width="auto%" height="80%">
      &nbsp;
      <span class="fw-semibold font-monospace">Help Public Bus Management</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
